.layout{
    width: 100%;
}
.Home{
  background-color: bisque;
  width: 100%;
}
.Home .footer{
    background-color:red;
  }
.Content{
    background-color: rgb(9, 255, 0);
  }
.Avatar{
    margin-top: 0.3em;
    margin-left: 0.5em;
  }
.Phone{
    margin: 5px;
}